.bm-burger-button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  right: 32px;
  bottom: 32px;
  border-radius: 100%;
  background: red;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-icon {
  height: initial !important;
  width: initial !important;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
