@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./01-variables";
@import "./modules/react-modal";
@import "./modules/pure-react-carousel";
@import "./modules/react-burger-menu";
@import "../globalUI/globalUI";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Lato", sans-serif; // weight: 400,700
  font-weight: 400;
  background: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cabin", sans-serif; // weight: 500,600,700
}

.bg-primary {
  background: $primary-color;
}
.text-primary {
  color: $primary-color;
}
.bg-primary-light {
  background: $primary-color-light;
}
.text-primary-light {
  color: $primary-color-light;
}

.borderOnHover {
  position: relative !important;
  cursor: pointer;
  & .HoverEffect:first-child {
    opacity: 0;
    background: rgba(0, 255, 0, 0.2);

    &:hover {
      opacity: 1;
    }
  }
}
