.ModalOverlay {
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 998;
}

.Modal {
  outline: none;
  background: white;
  border-radius: 5px;
  max-height: 40rem;
  max-width: 70rem;
  overflow-y: auto;
  padding: 1em;
  position: fixed;
  top: 3em;
  width: 100%;
  z-index: 999;

  &--autoWidth {
    max-width: unset;
    width: auto;
    top: unset;
    @media (max-width: 850px) {
      max-width: 70rem;
      width: 100%;
    }
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    left: calc(50% - 17.75em);
  }

  @media (min-height: 600px) {
    max-height: em(550);
  }

  @media (min-height: 800px) {
    max-height: calc(100vh - 6em);
  }
}
