@import "../../../styles/01-variables";

.Tab {
  padding: 10px 16px;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  margin-bottom: 12px;

  &:hover {
    background: $primary-color-xlight;
  }

  &--activated {
    padding-left: 11px;
    background: $primary-color-xlight;
    border-left-width: 5px;
    border-color: $primary-color;
    color: white;
  }
}
